aniso8601
APScheduler
attrs
autopep8
beautifulsoup4
click
Flask
Flask-Cors
flask-restplus
flask-restx
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsonpickle
jsonschema
MarkupSafe
psycopg2
pycodestyle
pyrsistent
python-dateutil
pytz
selenium
six
soupsieve
toml
tzlocal
urllib3
Werkzeug
zipp
